.body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;
  background-image: url("../../public/img/USC\ Connect\ Dark\ -\ Copy\ without\ SVG\ -\ No\ Circle.png");
}
