
@media only screen and (min-width: 700px){
  /*CSS For Desktop Screens*/
  .errorScreen {
    background-image: url("../../public/img/Error_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;}
    .error404Screen {
      background-image: url("../../public/img/Error404.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 30%;}
      .ErrorDialogue {
        position: absolute;
        top: 45%;
        left: 30%;
        transform: translate(-50%, -50%);
      }
      .WelcomeText {
        font-size: 350%;
        color: #fff;
        font-weight: bold;
      }   
      .WelcomeDialogue {
        position: absolute;
        top: 45%;
        left: 70%;
        transform: translate(-50%, -50%);
      }
}

@media only screen and (max-width: 700px){
  /*CSS For Tablet Screens*/
  .errorScreen {
    background-image: url("../../public/img/Error_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;}
    .error404Screen {
      background-image: url("../../public/img/Error404.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 35% 30%;}
      .ErrorDialogue {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .WelcomeText {
        font-size: 300%;
        color: #fff;
        font-weight: bold;
      }   
      .WelcomeDialogue {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
}


@media only screen and (max-width: 450px){
  /*CSS for Mobile Devices*/
  .errorScreen {
  background-image: url("../../public/img/Error_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;}
  .error404Screen {
    background-image: url("../../public/img/Error404.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;}
    .ErrorDialogue {
      position: absolute;
      top: 50%;
    left: 50%;
      transform: translate(-50%, -50%);
    }
    .WelcomeText {
      font-size: 250%;
      color: #fff;
      font-weight: bold;
    }   
    .WelcomeDialogue {
      position: absolute;
      top: 40%;
    left: 50%;
      transform: translate(-50%, -50%);
    }}

